@media only screen and (max-width: 768px) {
  .home {
    background-image: url("../assets/dragon-bg.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
  }

  .dragon {
    display: none;
  }

  .home-text {
    margin-top: 9em;
    width: 70%;
  }

  .text-mainHeader {
    color: white;
    border-radius: 2rem;
    background: rgba(217, 217, 217, 0.5);
    padding: 1.2rem;
  }
}
